.App {
  text-align: center;
  background-color: #9b845b;
}

img{
  position: sticky;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  height: 25px;
  width: auto;
}

.red{
  height: 50px;
  width: 100%;
  background-color: #7f0019;
}

.red_side{
  height: 25%;
  width: 50%;
  background-color: #ffffff;
}


.bg{
  background-image: url("./g.png");
  background-repeat: repeat space;
  padding-left: 25px;
  height: 100vh;
  width: auto;
}

